<%= form_with model: article do |form| %>
    <div class="mb-3">
        <%= form.label :title, class:'form-label' %><br>
        <%= form.text_field :title, class:'form-control' %>
        <% article.errors.full_messages_for(:title).each do |message| %>
            <div class="alert alert-danger" role="alert">
                <%= message %>
            </div>
        <% end %>
    </div>

    <div class="mb-3">
        <%= form.label :body, class:'form-label' %><br>
        <%= form.text_area :body, class:'form-control' %>
        <% article.errors.full_messages_for(:body).each do |message| %>
            <div class="alert alert-danger" role="alert">
                <%= message %>
            </div>
        <% end %>
    </div>

    <div>
        <% if action_name != 'new' %>
            <%= link_to "Back", :back, class:'btn btn-primary' %>
        <% end %>
        <%= form.hidden_field :user_id, value: current_user.id %>
        <%= form.submit "Submit", class:'btn btn-success' %>
    </div>
<% end %>