<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Articles</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "New Article", new_article_path, class:'nav-link' %>
        </li>
      </ul>
      <ul class="navbar-nav d-flex">
        <li clalss="nav-item">
          <%= form_for "", url: root_path, role: "search", method: :get do %>
            <%= text_field_tag :search, @search_term, placeholder: "Search a title...", class: "form-control" %>
          <% end %>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'Hello, ' + current_user.email + "!", edit_user_registration_path, class:'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete, data: { confirm: "Confirm logout?" }, class:'nav-link' %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Register', new_user_registration_path, class:'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign in', new_user_session_path, class:'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>